# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
build/
web-build/
expo-env.d.ts

# native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.kotlin/

# env
.env
.env.*
!.env.example

# metro
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# typescript
*.tsbuildinfo

# macOS
.DS_Store
*.pem
